*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header {
  z-index: 9999;
}
.div {
  z-index: -1;
}



*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Open Sans",sans-serif;
}

header{
    position: sticky;
  top: 0;
  z-index: 9999;
  height: 80px;
  background: #2f3640;
}

.inner-width{
  max-width: 1000px;
  padding: 0 10px;
  margin: auto;
}

.logo{
  float: left;
  padding: 20px 0;
}

.logo img{
  height: 50px;
}

.navigation-menu{
  float: right;
  display: flex;
  align-items: center;
  min-height: 90px;
}

.navigation-menu a{
  margin-left: 10px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 4px;
  transition: .3s linear;
}

.navigation-menu a:hover{
  background: #fff;
  color: #2f3640;
  transform: scale(1.1);
}

.navigation-menu i{
  margin-right: 8px;
  font-size: 16px;
}

.home{
  color: #ff6b6b;
}

.about{
  color: #0abde3;
}

.works{
  color: #feca57;
}

.team{
  color: #5f27cd;
}

.contact{
  color: #1dd1a1;
}

.menu-toggle-btn{
  float: right;
  height: 90px;
  line-height: 90px !important;
  color: #fff;
  font-size: 26px;
  display: none !important;
  cursor: pointer;
}


@media screen and (max-width:700px) {
  .menu-toggle-btn{
    display: block !important;
  }

  .navigation-menu{
    position: fixed;
    width: 100%;
    max-width: 400px;
    background: #172b4d;
    top: 90px;
    right: 0;
    display: none;
    padding: 20px 40px;
    box-sizing: border-box;
  }

  .navigation-menu::before{
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #172b4d;
    position: absolute;
    top: -10px;
    right: 10px;
  }

  .navigation-menu a{
    display: block;
    margin: 10px 0;
  }

  .navigation-menu.active{
    display: block;
  }
}
/*------------------------------------------------------------------------*/
span{
    font-size:15px;
}

.box{
    padding:60px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}

.fa{
     color:#4183D7;
}


/*------------------------------------------------------------------------*/

body{
    background: #e8cbc0;
    background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
    background: linear-gradient(to right, #e8cbc0, #636fa4);
    min-height: 100vh;


    background-repeat: no-repeat;
    background-size: 100vw auto;
    background-attachment: fixed;

    flex-direction: column;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #ffffff;
}
p.head{
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  color: #0F0F0F;
  text-align: center;
  letter-spacing: 1px;
}

p.desc{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.75px;
  padding: 0%;
}

.containerd{
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  opacity: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #121212 0%, rgba(18, 18, 18, 0.75) 75%);
  backdrop-filter: blur(20px);
  border-radius: 24px;
  padding: 2%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.btn{
  background: #307FE2;
  border-radius: 28px;
  width: 70%;
  height: auto;
  padding: 3%;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  text-align: center;
  cursor: pointer;
  margin: 5%;
}

.resultcard{

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  opacity: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #121212 0%, rgba(18, 18, 18, 0.75) 75%);
  backdrop-filter: blur(20px);
  border-radius: 24px;
  padding: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.imgBx {
  position: relative;
  width: 200px;
  height: 240px;
  border-radius: 5px;
  overflow: hidden;
  border: 0px solid rgba(0, 0, 0, 0.25);
}

.imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  object-fit: cover;
}


ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 1%;
  align-content: center;
}

ul li{
  align-content: center;
}









p.desc1{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color: #0D1117;
  text-align: center;
  letter-spacing: 0.75px;
  padding: 3%;
}




figcaption{
  display: block;
  color: #ffffff;
  margin-top: 95%;
  font-weight: 500;
  font-size: 14px;
  line-height: 50px;
  letter-spacing: 1px;
}


input[type=file]::file-selector-button {
  background: #307FE2;
  border-radius: 28px;
  width: 50%;
  height: auto;
  padding: 3%;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  text-align: center;
  cursor: pointer;
  margin: 5%;
}





.cardLogin{
  width: 500px;
  height: 500px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  opacity: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #121212 0%, rgba(18, 18, 18, 0.75) 75%);
  backdrop-filter: blur(20px);
  border-radius: 24px;
  padding: 2%;
  margin-bottom: 5%;
  margin-top: 5%;
}





.inp-cont {
  position: relative;
  padding: 3%;
}


input[type="text"]::placeholder{
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #c4c4c4;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.1s ease-out;
  pointer-events: none;
}


input[type="text"] {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  outline: none;
  border: none;
  transition: 0.1s ease-out;
  width: 306px;
  height: 48px;
  color: #ffffff;
  padding: 0 16px;
  background: rgba(158, 158, 158, 0.25);
  border-radius: 10px;
}
input[type="text"]:focus {
  border: 3px solid rgba(48, 127, 226, 0.6);
  background: rgba(158, 158, 158, 0.35);
}
input[type="text"]:focus::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  color: #999999;
  top: 25%;
}





