<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
        <title>searchingFashion</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>

    <header>
          <div class="inner-width">
            <a href="#" class="logo"><img src="static/fnlogosf.png" alt="logo"></a>
            <i class="menu-toggle-btn fas fa-bars"></i>
            <nav class="navigation-menu">
              <a href="/"><i class="fas fa-home home"></i> Home</a>
              <a href="/upload"><i class="fas fa-upload Uplode"></i> Uplode</a>
              <a href="#"><i class="fab fa-buffer works"></i> Trending</a>
              <a href="#"><i class="fas fa-users team"></i> Team</a>
              <a href="#"><i class="fas fa-headset contact"></i> Contact</a>
            </nav>
          </div>
        </header>

    <script type="text/javascript">
      $(".menu-toggle-btn").click(function(){
        $(this).toggleClass("fa-times");
        $(".navigation-menu").toggleClass("active");
      });
    </script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>