<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>searchingFashion</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li style="align-self: flex-start;">
                <h2>SearchingFashion</h2>
            </li>
            <li style="align-self: flex-end;">
                <a href="/upload"><button class="btn" style="width: 150px;"> Upload Items </button></a>
            </li>
        </ul>
    </div>
    <div class="container" id="search">
        <form method="POST" enctype="multipart/form-data" id="search">
            <p class="head">Search Something?</p>
            <p class="desc">Input your image below:</p>
            <div style="width: 100%;">
                <input type="file" name="query_img">
            </div>
            <input type="submit" class="btn" style="margin-top: 10%;"></a>
            <a href="/upload" style="text-decoration: none;"><p class="desc1">Looking to upload a new item ?</p></a>
        </form>
    </div>
    <div class="resultcard" id="results">
        <p class="head">We found these</p>
        <p class="desc">Your query image:</p>
        {% if query_path %}
            <figure class="imgBx">
                <img src="{{ query_path }}" alt="Query Image">
                <figcaption>Your input image</figcaption>
            </figure>
            {% endif %}
        <p class="desc">Matching results:</p>
<div class="class-img" style="display: inline;">
        {% for score in scores %}
            <figure class="imgBx">
                <img src="{{ score[1] }}" alt="Similar Image">
                <figcaption>{{ score[0] }}</figcaption>
                </figure>
        {% endfor %}
    </div>
        </div>
    </div>
</body>
</html>