<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
        <title>searchingFashion</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>SearchingFashion</title>
  </head>
  <body style="height: 100vh">
    {% include 'header.html' %}
    <div class="cardLogin" style="width: 60%; margin: 0 auto; margin-top:40px">
      <form method="POST" enctype="multipart/form-data">
        <p class="head" style="margin-top:80px">Upload Your Items</p>
        <p class="desc">Enter the details below:</p>
        <div class="inp-cont">
          <input type="text" name="room" placeholder="Item Name" />
          <!-- <label class="inp-label" >Room No</label> -->
        </div>
        <div class="inp-cont">
          <input type="text" name="store" placeholder="Address" />
          <!-- <label class="inp-label" >Store No</label> -->
        </div>
        <div class="inp-cont">
          <input type="text" name="rack" placeholder="Price" />
          <!-- <label class="inp-label" >Rack No</label> -->
        </div>
        <div style="width: 100%">
          <input type="file" name="query_img" />
        </div>
        <input type="submit" class="btn" style="margin-top: 10%" />
      </form>
    </div>

    {% include 'footer.html' %}

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
